<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/loginrecord.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Login Record</title>
</head>

<body>
    <nav id="main-bar" class="navbar py-0 navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand fs-5 fw-semibold text-light-emphasis" href="#">Login Record</a>
        </div>
        <form class="form-box" action="/logout" method="get">
            <div class="button">
                <button class="logout">Logout</button>
            </div>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="box">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">First Name</th>
                        <th scope="col" class="text-center">Last Name</th>
                        <th scope="col" class="text-center">Session Started</th>
                        <th scope="col" class="text-center">Session Ended</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% let serialNumber=1; %>
                        <% loginRecords.forEach(record=> { %>
                            <tr>
                                <th scope="row">
                                    <%= serialNumber %>
                                </th>
                                <td>
                                    <%= record.firstName %>
                                </td>
                                <td>
                                    <%= record.lastName %>
                                </td>
                                <td>
                                    <%= record.login %>
                                </td>
                                <td>
                                    <%= record.logout %>
                                </td>
                            </tr>
                            <% serialNumber +=1 %>
                                <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>